.groceriesListForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
}

.groceriesListCheckbox{
    width: 33%;
    font-size: 2.5vh;
}

@media screen and (max-width: 900px) {
    .groceriesListCheckbox{
      width: 50%;
    }
  }

@media screen and (max-width: 600px) {
    .groceriesListCheckbox{
      width: 100%;
    }
  }