.recipeCard{
    width: 33.1%;
}

.recipeCardButtons{
  display: flex;
}

.card-body{
    display: flex;
    min-height: 40vh;
    flex-direction: column;
    justify-content: space-between;
}

.controlPanel{
  display: flex;
  align-items: flex-end;
}

.button{
    align-self: flex-start;
}

  @media screen and (max-width: 900px) {
    .recipeCard{
      width: 50%;
      font-size: 2.5vh;
    }
  }